<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div class="header-right">
     <div class="nicheng">陌晗默</div>
     <div class="qianming">个性签名：收我南窗梦一帘,人间故事密封缄。迎将冷淡到江南。 身逐空花归净界,愿随清月落寒潭。红尘隔断两无堪。</div>
</div>
     <div class="header">
         <div class="touxiang">头像</div>
         <ul class="geren">
             <li class="shouye"><a href="">首页</a></li>
             <li class="grzy"><a href="myself.html">个人中心</a></li>
             <li class="xiaoxi"><a href="">消息中心</a></li>
             <li class="denglu"><a href="">登录</a></li>
             <li class="zhuce"><a href="">注册</a></li>
             <li class="tuichu"><a href="">[退出]</a></li>
         </ul>
     </div>
     <div class="main">
         <div class="photo">
             <img src="../../static/img/sinablogb.jpg" alt="">
         </div>
         <div class="left">
             <input type="text" class="sousuo" placeholder="搜索">
             <div class="category">
                 <div class="gezi"><a href="">散文</a></div>
                 <div class="gezi"><a href="">历史</a></div>
                 <div class="gezi"><a href="">IT</a></div>
                 <div class="gezi"><a href="">社会</a></div>
                 <div class="gezi"><a href="">新闻</a></div>
                 <div class="gezi"><a href="category.html">更多专题<<</a></div>
             </div>
             <div class="remen">
                 <span class="wen">热门文章推荐</span>
                 <div class="tupian"></div>
                 <div class="title"><a href="content.html">黛玉早报171025 —— 《如果再见，我想带你去吃好吃的》</a></div>
                 <div class="tupian"></div>
                 <div class="title"><a href="">黛玉早报171025 —— 《如果再见，我想带你去吃好吃的》</a></div>
                 <div class="tupian"></div>
                 <div class="title"><a href="">黛玉早报171025 —— 《如果再见，我想带你去吃好吃的》</a></div>
                 <div class="tupian"></div>
                 <div class="title"><a href="">黛玉早报171025 —— 《如果再见，我想带你去吃好吃的》</a></div>
             </div>
             <div class="tjyuedu">
                 <span class="wen">专题推荐</span>
                 <div class="suolue"></div>
                 <div class="ti">
                     <div class="timing"><a href="">散文</a></div>
                     <div class="jieshao">一缕墨香伴清茶。
                         散文专题投稿须知： 1.字数适量。散文...
                         128.9K篇文章 · 1324.6K人关注</div>
                 </div>
                 <div class="suolue"></div>
                 <div class="ti">
                     <div class="timing"><a href="">散文</a></div>
                     <div class="jieshao">一缕墨香伴清茶。
                         散文专题投稿须知： 1.字数适量。散文...
                         128.9K篇文章 · 1324.6K人关注</div>
                 </div>
                 <div class="suolue"></div>
                 <div class="ti">
                     <div class="timing"><a href="">散文</a></div>
                     <div class="jieshao">一缕墨香伴清茶。
                         散文专题投稿须知： 1.字数适量。散文...
                         128.9K篇文章 · 1324.6K人关注</div>
                 </div>
                 <div class="suolue"></div>
                 <div class="ti">
                     <div class="timing"><a href="">散文</a></div>
                     <div class="jieshao">一缕墨香伴清茶。
                         散文专题投稿须知： 1.字数适量。散文...
                         128.9K篇文章 · 1324.6K人关注</div>
                 </div>
             </div>
             <div class="tjzuozhe">
                 <span class="wen">作者推荐</span>
                 <div class="tui">
                     <div class="tutu"></div>
                     <div class="wenwen">
                         <div class="name">简书播客</div>
                         <div class="jianjie">写了116.7k字·5.1k喜欢</div>
                     </div>
                     <div class="jiaguan"><a href="">+ 关注</a></div>
                 </div>
             </div>
         </div>

         <div class="right">
             <div class="tuijian1">
                 <div class="tjleft">
                     <div class="zuozhe">
                         <div class="picture"><img src="" alt="">头像</div>
                         <div class="author">有备而来的路人甲</div>
                         <div class="time">31分钟前</div>
                     </div>
                     <div class="timu"><a href="content.html">你有最美的年纪，别辜负了最好的自己</a></div>
                     <div class="neirong">手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿ ﻿如若放手，再坚强的风筝也会失去方向感，失去自我，然后从天空坠落。﻿ ﻿当命运需要我们逆风飞翔的时候，请不要随风...</div>
                     <div class="qita">
                         <div class="fenlei"><a href="">分类</a></div>
                         <div class="pinglun"><a href="">评论</a></div>
                         <div class="dianzan"><a href="">点赞</a></div>
                         <div class="shoucang"><a href="">收藏</a></div>
                         <div class="guanzhu"><a href="">关注</a></div>
                     </div>
                 </div>
                 <div class="tjright"><a href=""><img src="" alt="">图片</a></div>
             </div>
             <div class="tuijian1">
                 <div class="tjleft">
                     <div class="zuozhe">
                         <div class="picture"><img src="" alt="">头像</div>
                         <div class="author">有备而来的路人甲</div>
                         <div class="time">31分钟前</div>
                     </div>
                     <div class="timu"><a href="">你有最美的年纪，别辜负了最好的自己</a></div>
                     <div class="neirong">手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿ ﻿如若放手，再坚强的风筝也会失去方向感，失去自我，然后从天空坠落。﻿ ﻿当命运需要我们逆风飞翔的时候，请不要随风...</div>
                     <div class="qita">
                         <div class="fenlei"><a href="">分类</a></div>
                         <div class="pinglun"><a href="">评论</a></div>
                         <div class="dianzan"><a href="">点赞</a></div>
                         <div class="shoucang"><a href="">收藏</a></div>
                         <div class="guanzhu"><a href="">关注</a></div>
                     </div>
                 </div>
                 <div class="tjright"><a href=""><img src="" alt="">图片</a></div>
             </div>
             <div class="tuijian1">
                 <div class="tjleft">
                     <div class="zuozhe">
                         <div class="picture"><img src="" alt="">头像</div>
                         <div class="author">有备而来的路人甲</div>
                         <div class="time">31分钟前</div>
                     </div>
                     <div class="timu"><a href="">你有最美的年纪，别辜负了最好的自己</a></div>
                     <div class="neirong">手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿ ﻿如若放手，再坚强的风筝也会失去方向感，失去自我，然后从天空坠落。﻿ ﻿当命运需要我们逆风飞翔的时候，请不要随风...</div>
                     <div class="qita">
                         <div class="fenlei"><a href="">分类</a></div>
                         <div class="pinglun"><a href="">评论</a></div>
                         <div class="dianzan"><a href="">点赞</a></div>
                         <div class="shoucang"><a href="">收藏</a></div>
                         <div class="guanzhu"><a href="">关注</a></div>
                     </div>
                 </div>
                 <div class="tjright"><a href=""><img src="" alt="">图片</a></div>
             </div>
             <div class="tuijian1">
                 <div class="tjleft">
                     <div class="zuozhe">
                         <div class="picture"><img src="" alt="">头像</div>
                         <div class="author">有备而来的路人甲</div>
                         <div class="time">31分钟前</div>
                     </div>
                     <div class="timu"><a href="">你有最美的年纪，别辜负了最好的自己</a></div>
                     <div class="neirong">手里拉着无数条连着线的风筝，只要风在，风筝就会一直飞上天。﻿ ﻿如若放手，再坚强的风筝也会失去方向感，失去自我，然后从天空坠落。﻿ ﻿当命运需要我们逆风飞翔的时候，请不要随风...</div>
                     <div class="qita">
                         <div class="fenlei"><a href="">分类</a></div>
                         <div class="pinglun"><a href="">评论</a></div>
                         <div class="dianzan"><a href="">点赞</a></div>
                         <div class="shoucang"><a href="">收藏</a></div>
                         <div class="guanzhu"><a href="">关注</a></div>
                     </div>
                 </div>
                 <div class="tjright"><a href=""><img src="" alt="">图片</a></div>
             </div>
         </div>
     </div>
</body>
</html>