<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/myself.css">
</head>
<body>
<main>
    <div class="image">
        <img  class="liang" src="../../static/img/f608d1b617d6ac37729a3c88cd9f7174dbadd6fc54f2b-flBvGU_fw658.jpg" alt="">
        <img class="peishi" src="../../static/img/533bd354564e9258580a01289e82d158cdbf4ed6.jpg" alt="">
        <div class="left">
           <ul>
               <li><a href="index.html" >返回首页</a></li>
               <li><a href="shezhi.html" target="right">个人信息设置</a></li>
               <li><a href="wenzhangchaxun.html" target="right">个人文章查询</a></li>
               <li><a href="liuyanchaxun.html" target="right">个人留言查询</a></li>
               <li><a href="dianzan.html" target="right">点赞 收藏 关注</a></li>
               <li><a href="wenzhangneirong.html" target="right">文章内容发布</a></li>
               <li><a href="car.html" target="right">购物车</a></li>
               <li><a href="zhanghu.html" target="right">个人账户</a></li>

           </ul>
        </div>
        <div class="right">

            <iframe src="" frameborder="0" name="right"></iframe>
        </div>
    </div>
</main>
</body>
</html>